$link_1: #1e81b2;

$blue_5: #0063a5;

$yellow_1: #f9bc06;
$yellow_5: #f9bc06;

$red_5: #e11a2c;
$red_10: #a00816;

$purple_5:  #692B7F;
$purple_10: #4d0f98;
$purple_15: #290258;

$teal_5: #00838a;

$orange_15: #f56A00;

$grey_1: #323c43;
$grey_5: #e7e7e7;
$grey_10: #757575;
$grey_15: #666666;
$grey_20: #333333;
$grey_25: #364048;

$white_5: #fff;

$green_1: #038bbe;
$green_2: #00ACED;
$green_3: #033e52;