/* Rockwell Theme - blue style */

a {
	color:#00A4CC;
}

#colLeft a {
	border-bottom:1px dotted #00A4CC;
}

#colRightInner a {
	border-bottom:1px dotted #00A4CC;
}

h2, h3, h4, h5 {
	color:#00B0F5;
}

#topLinks li a:hover, #bottomLinks li a:hover  {
	color:#00A4CC;
}

/* TOP MENU */

#topMenu {
	border:1px solid #01BAF8;
	background:url(../images/bk_menu_blue.jpg) 0 0 repeat-x;
}

#topMenu ul.sf-menu li {
	background:url(../images/topmenu_border_blue.jpg) 100% 1px no-repeat;
}

#topMenu ul.sf-menu li a {
	color:#B3E3F1;
}

#topMenu ul.sf-menu li li {
	background:#009AD0;
}

#topMenu ul.sf-menu li ul.children {
	border:1px solid #01BAF8;
	border-bottom:none;
}

#topMenu ul.sf-menu li ul.children li,#topMenu ul.sf-menu li.page_item ul li  {
	border-bottom:1px solid #01BAF8;
}

#topMenu ul.sf-menu li ul.children li a, #topMenu ul.sf-menu li.page_item ul li a {
	color:#B3E3F1;
}

/* --*/

.searchQuery strong, #archive-title strong {
	color:#00A4CC;
}	

#colLeft .blogItem .date{
	background:url(../images/ico_date_blue.png) 0 0 no-repeat;
}

#colLeft .blogItem .metadata {
	color:#666;
}

#colLeft .blogItem .itemTitle h1 a{
	border-bottom:1px dotted #999;
	color:#333;
}

#colLeft .blogItem .itemTitle h1 a:hover {
	border-bottom:1px dotted #00B0F5;
	color:#00B0F5;
}

#colLeft .blogItem a.more-link {
	background:url(../images/bk_readmore_blue.png) 0 0 no-repeat;
	color:#fff;
}

#colLeft h2#comments {
	color:#333;
}

#colRightInner h2 {
	color:#333;
}

#colRightInner ul li a:hover {
	color:#00A4CC;
}

#commentform input#submit{
	background:url(../images/bk_readmore_blue.png) 0 0 no-repeat;
	color:#fff;
}

#contact input.submit {
	background:url(../images/bk_readmore_blue.png) 0 0 no-repeat;
	color:#fff;
}


