/* Rockwell Theme - blue style */

a {
	color:#C64F07;
}

#colLeft a {
	border-bottom:1px dotted #C64F07;
}

#colRightInner a {
	border-bottom:1px dotted #C64F07;
}

h2, h3, h4, h5 {
	color:#C64F07;
}

#topLinks li a:hover, #bottomLinks li a:hover  {
	color:#F30C55;
}

/* TOP MENU */

#topMenu {
	border:1px solid #E66A13;
	background:url(../images/bk_menu_orange.jpg) 0 0 repeat-x;
}

#topMenu ul.sf-menu li {
	background:url(../images/topmenu_border_orange.jpg) 100% 1px no-repeat;
}

#topMenu ul.sf-menu li a {
	color:#E8C6AF;
}

#topMenu ul.sf-menu li li {
	background:#BE4704;
}

#topMenu ul.sf-menu li ul.children {
	border:1px solid #E66A13;
	border-bottom:none;
}

#topMenu ul.sf-menu li ul.children li,#topMenu ul.sf-menu li.page_item ul li  {
	border-bottom:1px solid #E66A13;
}

#topMenu ul.sf-menu li ul.children li a, #topMenu ul.sf-menu li.page_item ul li a {
	color:#E8C6AF;
}

/* --*/

.searchQuery strong, #archive-title strong {
	color:#C64F07;
}	

#colLeft .blogItem .date{
	background:url(../images/ico_date_orange.png) 0 0 no-repeat;
}

#colLeft .blogItem .metadata {
	color:#666;
}

#colLeft .blogItem .itemTitle h1 a{
	border-bottom:1px dotted #999;
	color:#333;
}

#colLeft .blogItem .itemTitle h1 a:hover {
	border-bottom:1px dotted #DD4F02;
	color:#DD4F02;
}

#colLeft .blogItem a.more-link {
	background:url(../images/bk_readmore_orange.png) 0 0 no-repeat;
	color:#fff;
}

#colLeft h2#comments {
	color:#333;
}

#colRightInner h2 {
	color:#333;
}

#colRightInner ul li a:hover {
	color:#C64F07;
}

#commentform input#submit{
	background:url(../images/bk_readmore_orange.png) 0 0 no-repeat;
	color:#fff;
}

#contact input.submit {
	background:url(../images/bk_readmore_orange.png) 0 0 no-repeat;
	color:#fff;
}


